.subcategoryBox {
    width: 26%;
    display: flex;
    justify-content: space-between;

}

.deleteBtn {
    width: 88px;
    height: 88px;
    word-wrap: break-word;
    color: #fff;
    background-color: #9ACD32;
    border-radius: 100vh;
    cursor: pointer;
}

.createQuestionBtn {
    width: 88px;
    height: 88px;
    word-wrap: break-word;
    color: #fff;
    background-color: #9ACD32;
    border-radius: 100vh;

}

.questionContainer {
    display: flex;
    flex-wrap: wrap; /* 折返し指定 */
}

.questionBox {
    padding-top: 15px;
    padding-left: 33px;
    padding-right: 33px;

	width: calc(25% - 16px); /* margin padding分を引く */
    margin-top: 22px;
    margin-left: 45px;
    /* border: 1px solid green; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: white;
    border-radius: 15px;
}
.question-box > h3 {
    box-sizing: border-box;
    word-break: break-all;
}

 .displayIncorrectedQuestionBtn {
    width: 122px;
    height: 88px;
    word-wrap: break-word;
    color: #fff;
    background-color: #9ACD32;
    border-radius: 100vh;
    cursor: pointer;
 }

 .problemText {
    cursor: pointer;
    text-decoration: underline;
    font-size: 16.6px;
    color: #374151;

 }

.answerText {
    color: black;
    font-size: 15px;
}

.correct {
    background-color: rgb(175, 234, 175);
}

.incorrect {
    background-color: rgb(237, 129, 129);
}

.temporary {
    background-color: #5e5e05;
}

.categoryName {
    cursor: pointer;
}

.subcategoryName {
    cursor: pointer;
}