#root {
    background-color: #81daca;
}

.container {
    width: 95%;
}
.containerA {
    display: flex;
}

.createCategoryBtn {
    width: 88px;
    height: 88px;
    word-wrap: break-word;
    color: #fff;
    background-color: #9ACD32;
    border-radius: 100vh;
    cursor: pointer;
    text-decoration: none;
}