#root {
    background-color: #81daca;
}

.container {

    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.pagination_btn {
    font-size: 19px;
    border-radius: 100vh;
}

.left_btn {
    margin-left: 2px;
}
