#root {
    background-color: #81daca;
}

.container {
    width: 95%;
}
.containerA {
    display: flex;
}

.pagination_btn {
    font-size: 19px;
    border-radius: 100vh;
}

.left_btn {
    margin-left: 2px;
}

.createCategoryBtn {
    width: 88px;
    height: 88px;
    word-wrap: break-word;
    color: #fff;
    background-color: #9ACD32;
    border-radius: 100vh;
    cursor: pointer;
    text-decoration: none;
}