nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 50px;
    background-color: #005451;
    gap: 45px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

nav a:hover {
    color: cadetblue;
}

.export_btn {
    cursor: pointer;
    color: white;
}

.clickable {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* background-color: #007BFF; */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.clickable:hover {
    background-color: #AFE1AF;
}

.tooltip {
    position: absolute;
    top: 120%; /* 要素の下に配置 */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

/* ホバー時のツールチップ表示 */
.clickable:hover .tooltip {
    opacity: 1;
    visibility: visible;
}