
.subcategory-page {
    border: 2.5px solid blue;
}

.subcategory-box {
    width: 22%;
    display: flex;
    justify-content: space-between;
    border: 2.5px solid red;

}


.delete-btn {
    background-color: #117864;
    color: white;
    width: 44px;
    height: 44px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.question-container {
    display: flex;
    /* align-items: center; */
    border: 2.5px solid green;
    flex-wrap: wrap; /* 折返し指定 */

}


.question-box {
    border: 2px solid white;
	width: calc(25% - 22px); /* margin padding分を引く */
    /* height: 99px; */
    margin: 8px
}

.question-box > h2 {
    box-sizing: border-box;
    word-break: break-all;

}
